@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
  
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: aquamarine;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; 
 
}

.bye{
  background-color: aquamarine;

}
.helo{
  background-color: black;
}
button{
  cursor: pointer;
}
input:focus{
  background-color: pink;
}

